html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
}

#wrapper {
    position:relative;
}

.alert-container {
  position:absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.body-container {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.user-menu {
  position:relative;
  top: 0;
  height: 5vh;
  width: 100%;
}

.centre-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 1100px;
}

/* notification  */

.alert {
  font-size: 16px;
}

.alert-danger {
  color: #ff0000;
}

.alert-warning {
  color: #ffa500;
}

.alert-success {
  color: #3cb371;
}
.alert-info {
  color: #0000ff;
}

.user-container{
  position:absolute;
  right: 50px;
  top: 10px;
  margin-right: 50px;
}

/* avatar start  */

.avatar { overflow:hidden; }

.user-icon{
/*   border-radius:4em; border:1px solid black; */
  height:6em; width:6em;  
  background:none;padding:0.1em;
  float: right;
}

.user-icon::before{
  content:" "; display:block;
  height:2em; width:2em;
  background:black;
  position:relative; left:2em;top:0.8em;
  border-radius:2em;
}
.user-icon::after{
  content:" "; display:block;
  height:2em;width:4em;
  background:black;
  position:relative; left:1em;top:1em;
  border-radius:2em 2em 0 0;
}

.font{ font-size:9px }

/* avatar end  */


.user-login {
    float: left;
    margin-top: 20px;
}

.user-drop-down-menu{
  position:absolute;
  top: 50px;
  right: 80px;
  height: 100px;
  z-index: 10;
}

.black-square {
  position:absolute;
  left: 0;
  background-color:black;
  height: 5vh;
  width: 2.5vw;
}

.workspace-menu {
  position:absolute;
  left: 0;
  background-color:black;
  height: 95vh;
  width: 2.5vw;
}

.ul-menu {
  position: absolute;
  right: 5px;
}

.workspace-body {
  position: absolute;
  left: 50px;
  height: 95vh;
  width: 95vw;
}

input[type=button], input[type=submit], input[type=reset] {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #000000;
  color: #ffff
}

.timeline-travel-button-active:hover {
    cursor:pointer;
}

.timeline-travel-button-blocked:hover {
    cursor:not-allowed;
}


.timeline-transaction-region {
  stroke-width:1;
  stroke:black;
}

.timeline-transaction-region-item {
  fill:black;
  font-size: 14px;
}

.timeline-transaction-g {
   cursor:pointer;
}

.timeline-transaction-g-not-allowed {
   cursor:not-allowed;
}

.transaction-modal-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:1;
  display: grid;
  justify-content: center;
  align-items: center;
}

.transaction-modal {
  width:600px;
  position:inherit;
  top:20%;
  left:35%;
  height: 600px;
  background-color:white;
}

.timeline-container{
  position:absolute;
  left: 10%;
  top:100px;
}

.wallet-container{
  position:absolute;
  left: 11%;
  top:20px;
  height:130px
}

.wallet-text{
  position:absolute;
  left:0;
  font-size:20px;
}

.wallet-amount{
  position:relative;
  left:100px;
  font-size:20px;  
}

.gap-selected {
  fill:white;stroke-width:2;stroke:black;
}

.bell {
  position:absolute;
  right:50px;
  top:25px;
  font-size:30px;
}

