html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
}

#wrapper {
    position:relative;
}

.alert-container {
  position:absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.body-container {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.user-menu {
  position:relative;
  top: 0;
  height: 5vh;
  width: 100%;
}

.centre-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

/* notification  */

.alert {
  font-size: 16px;
  outline: dashed 1px black;
}

.alert-danger {
  color: #FF0000;
}

.alert-warning {
  color: #FFCD00;
}

.alert-success {
  color: #000000;
}
.alert-info {
  color: #00A2FF;
}

.user-container{
  position:absolute;
  right: 0;
  top: 10px;
  margin-right: 50px;
}

