.centre-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

/* notification  */

.alert {
  font-family: arial;
  font-size: 16px;
}

.alert-danger {
  color: FF0000;
}

.alert-warning {
  color: FFCD00;
}

.alert-success {
  color: 00C615;
}
.alert-info {
  color: 00A2FF;
}
